* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.Div {
  display: flex;
  width: 600px;
  height: 135px;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid white;
  padding-left: 22px;
  padding-right: 22px;
  border-radius: 12px;
  color: #ffffff;
  margin-top: 22px;
  margin-bottom: 22px;
  font-family: Bree-Serif;
}
.ScoreCard {
  background-color: antiquewhite;
  color: #223a5f;
  width: 200px;
  height: 100px;
  text-align: center;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 12px;
  font-size: 17px;
  font-weight: 600;
}

.Bg {
  background-color: #223a5f;
  display: flex;
  flex-direction: column;

  align-items: center;
  height: 100%;
  font-family: Roboto;
  padding: 12px;
}

.ImageCards {
  height: 150px;
  border: 0px;
}
.ImageCard {
  height: 150px;
}
.CardImageButtons {
  border-radius: 0px;
  margin: 12px;
  border: 0px;
  cursor: pointer;

  width: 200px;
  outline: none;
  background-color: #223a5f;
}

.ShownImage {
  height: 500px;
}

.buttonRules {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-top: 120px;
  padding-bottom: 130px;
  margin-right: 22px;
  width: 1200px;
}
.RulesButton {
  border-radius: 7px;
  border: 0px;
  width: 100px;
  height: 33px;
  font-family: Bree-Serif;
  color: #223a5f;
  font-weight: 600;
}

.buttonClose {
  text-align: right;
  background-color: #ffffff;
}
.ShownImageBg {
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 24px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.ClosingLogo {
  cursor: pointer;
}
.RulesButton {
  cursor: pointer;
}

.resultContains {
  display: flex;
  background-color: #223a5f;
  width: 550px;
  height: 280px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
}
.PlayAgain {
  text-align: center;
}
.PlayAgainButton {
  font-family: Bree-Serif;
  height: 37px;
  width: 140px;
  border-radius: 12px;
  border: 0px;
  cursor: pointer;
  color: #223a5f;
  font-size: 15px;
  font-weight: 600;
}
.YOU {
  padding-left: 33px;
}

.result-shown {
  color: #ffffff;
  font-weight: 600;
  font-size: 24px;
}
.score {
  font-family: 'Roboto';
}

.BreeSerif {
  font-family: Bree-Serif;
  width: 100px;
  flex-wrap: wrap;
  font-size: 26px;
}
.bgButton {
  width: 200px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.buttonCards {
  display: flex;
}
@media (max-width: 767px) {
  .Div {
    width: 360px;
  }
  .resultContains {
    width: 350px;
  }
  .CardImageButtons {
    width: 110px;
  }
  .ImageCards {
    height: 100px;
  }
  .ImageCard {
    height: 100px;
    padding-left: 33px;
  }
  .resultsContains {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .resultContains {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .buttonRules {
    width: 340px;
    padding-top: 360px;
    padding-bottom: 200px;
  }
  .ShownImage {
    height: 250px;
  }
  .ScoreCard {
    margin-top: 18px;
    margin-left: 22px;
  }
  .Bg {
    padding: 22px;
  }
  .ShownImageBg {
    text-align: center;
  }
  .bgButton {
    width: 160px;
  }
}
